the following is an example for imputing Missing Values In a Dataset
for more visit https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
from math import sqrt
import random
import numpy as np
random.seed(0)

#Fetching the dataset
import pandas as pd


#import data
data_transact = pd.read_csv('transactions.csv',header=None)
data_promo = pd.read_csv('promos.csv',header=None)

#view top 10 rows
data_transact.head(10)

C:\Users\syrin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     0             1          2       3          4      5            6
0   id  history_date    item_id   price  inventory  sales  category_id
1  103    2014-01-01  394908219   24.97      374.0    NaN            3
2  223    2014-01-01  394942631  106.33      374.0    NaN            3
3  319    2014-01-01  511895631   31.98      374.0    NaN            3
4  427    2014-01-01  512317778   33.21      102.0    NaN            3
5  487    2014-01-01  512319955  117.62      139.0    NaN            3
6  571    2014-01-01  512464656  287.46      235.0    NaN            3
7   18    2014-01-01  394853569  119.04      271.0    NaN            3
8  282    2014-01-01  395334759   30.05      242.0    NaN            3
9  306    2014-01-01  395360835  121.58        0.0    NaN            3

In [2]:
data_promo.head(10)

           0           1               2             3
0    item_id  promo_type  promo_start_dt  promo_end_dt
1  394848103     PROMO_C      2014-06-24    2014-07-24
2  394848314     PROMO_B      2014-04-03    2014-05-03
3  394859626     PROMO_B      2014-07-23    2014-08-22
4  394862997     PROMO_A      2015-01-09    2015-02-08
5  394867143     PROMO_C      2014-03-19    2014-04-18
6  394867160     PROMO_B      2014-04-14    2014-05-14
7  394868816     PROMO_A      2014-06-28    2014-07-28
8  394881368     PROMO_C      2016-03-21    2016-04-20
9  394883117     PROMO_A      2014-09-30    2014-10-30

In [3]:
train, target = pd.DataFrame(data_transact ), pd.DataFrame(data_promo)
train.columns = ['0','1','2','3','4','5','6']

#train.insert(loc=len(train.columns), column='target', value=target)

In [4]:
#Randomly replace 40% of the first column with NaN values
column = train['5']
print(column.size)

400060

In [5]:
column

0          sales
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10        138.05
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
           ...
400030       NaN
400031       NaN
400032       NaN
400033       NaN
400034       NaN
400035       NaN
400036       NaN
400037       NaN
400038       NaN
400039       NaN
400040       NaN
400041       NaN
400042       NaN
400043       NaN
400044       NaN
400045       NaN
400046       NaN
400047       NaN
400048       NaN
400049       NaN
400050       NaN
400051       NaN
400052       NaN
400053       NaN
400054       NaN
400055       NaN
400056       NaN
400057       NaN
400058       NaN
400059       NaN
Name: 5, Length: 400060, dtype: object

In [14]:
#Impute the values using scikit-learn SimpleImpute Class
from sklearn.impute import SimpleImputer
imp_zeros = SimpleImputer( missing_values=np.nan , strategy='constant', fill_value=0 ,copy=True)
imp_zeros.fit(train)
imputed_train_df = imp_zeros.transform(train)

In [24]:
imputed_train_df.shape

(400060, 7)

In [25]:
imputed_train_df

array([['id', 'history_date', 'item_id', ..., 'inventory', 'sales',
        'category_id'],
       ['103', '2014-01-01', '394908219', ..., '374.0', 0, '3'],
       ['223', '2014-01-01', '394942631', ..., '374.0', 0, '3'],
       ...,
       [322883, '2017-12-06', 512319175, ..., 602.0, 0, 4],
       [437856, '2017-12-06', 512317726, ..., 0.0, 0, 4],
       [437976, '2017-12-06', 515775944, ..., 154.0, 0, 4]], dtype=object)